@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #8EB1BF, #006C9D);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00405eb4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #C87931;
    text-align: center;
    text-shadow: 1px 1px 2px #814f20c3;
}

h2 {
    color: #0F1415;
}

p {
    text-align: justify;
}